#divInput , #divUpdate, #divInputDetailPenjualan, #divEditDetailPenjualan {
		width:100%;
		height:100%;
		opacity:.95;
		top:0;
		left:0;
		display:none;
		position:fixed;
		background-color:#313131;;
		overflow:auto
}
img.close {
	position:absolute;
	right:-14px;
	top:-14px;
	cursor:pointer
}
div.popupForm {
	position:absolute;
	left:50%;
	top:17%;
	margin-left:-202px;
	font-family:'Raleway',sans-serif
}
#frmData, #formUpdate, #frmInputDetailPenjualan, #frmEditDetailPenjualan {
	max-width:300px;
	min-width:250px;
	padding:10px 50px;
	border:2px solid gray;
	border-radius:10px;
	font-family:raleway;
	background-color:#fff
}

.popupForm input[type=text] {
	width:82%;
	padding:10px;
	margin-top:30px;
	border:1px solid #ccc;
	padding-left:40px;
	font-size:16px;
	font-family:raleway
}
#btnInsert, #btnUpdate, #btnbtnInsertInput, #btnInsertEdit {
	text-decoration:none;
	width:100%;
	text-align:center;
	display:block;
	background-color:#FFBC00;
	color:#fff;
	border:1px solid #FFCB00;
	padding:10px 0;
	font-size:20px;
	cursor:pointer;
	border-radius:5px
}

h2 {
	background-color:#FEFFED;
	padding:20px 35px;
	margin:-10px -50px;
	text-align:center;
	border-radius:10px 10px 0 0
}
hr {
	margin:10px -50px;
	border:0;
	border-top:1px solid #ccc
}